<app-sliderpaginas></app-sliderpaginas>
<div style="justify-content: center">
  <h1 style="text-align: center;">UPS Online</h1>
</div>
<div class="row m-5">
  <div class="col-lg-3 mb-4" *ngFor="let upsonline of upsonlines; let i = index">
    <div class="card h-100">
      <img src="{{ upsonline.image }}" class="card-img-top" alt="ups" width="100" height="400" />
      <div class="card-body">
        <h5 class="card-title" style="text-align: center;">{{ upsonline.title }}</h5>
      </div>
      <div class="d-grid gap-2">
        <button class="btn btn-primary" type="button" (click)="redireccionamiento(upsonline.codigo)">
          Leer más
        </button>
      </div>
    </div>
  </div>
</div>