<div class="container">
  <footer class="row row-cols4- py-4 my-4 border-top">
    <div class="col">
      <a
        href="/"
        class="d-flex align-items-center mb-3 link-dark text-decoration-none"
      >
        <svg class="bi me-2" width="40" height="32">
          <use xlink:href="#bootstrap" />
        </svg>
      </a>
      <div class="container">
        <img
          src="assets/images/imagotipos/Imagotiposinfondo foot.png"
          class="rounded-circle"
          alt="Cinque Terre"
          width="250"
          height="80"
          id="logofooter"
        />

        <p style="align-content: center"></p>
      </div>
      <p class="text-muted">Desarrollado por GranRest Tecnology&copy; 2022</p>
    </div>

    <div class="col">
      <h5>Productos</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2">
          <a
            href="#"
            class="nav-link p-0 text-muted"
            [routerLink]="['baterias']"
            >Baterías</a
          >
        </li>
        <li class="nav-item mb-2">
          <a href="#" class="nav-link p-0 text-muted" [routerLink]="['home']"
            >Electrodos Activos</a
          >
        </li>
        <li class="nav-item mb-2">
          <a
            href="#"
            class="nav-link p-0 text-muted"
            [routerLink]="['electrodos']"
            >Reguladores</a
          >
        </li>
        <li class="nav-item mb-2">
          <a href="#" class="nav-link p-0 text-muted" [routerLink]="['home']"
            >Acumuladores</a
          >
        </li>
        <li class="nav-item mb-2">
          <a href="#" class="nav-link p-0 text-muted" [routerLink]="['home']"
            >Tablero BY PASS</a
          >
        </li>
      </ul>
    </div>

    <div class="col">
      <h5>Servicios</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2">
          <a
            href="#"
            class="nav-link p-0 text-muted"
            [routerLink]="['manteniups']"
            >Mantenimiento UPS</a
          >
        </li>
        <li class="nav-item mb-2">
          <a href="#" class="nav-link p-0 text-muted" [routerLink]="['home']"
            >Mantenimiento Eléctrico</a
          >
        </li>
        <li class="nav-item mb-2">
          <a href="#" class="nav-link p-0 text-muted" [routerLink]="['home']"
            >Mantenimiento Cámaras y Control Accesos</a
          >
        </li>
        <li class="nav-item mb-2">
          <a href="#" class="nav-link p-0 text-muted" [routerLink]="['home']"
            >Diseño de Centro de Datos</a
          >
        </li>
        <li class="nav-item mb-2">
          <a
            href="#"
            class="nav-link p-0 text-muted"
            [routerLink]="['manteniups']"
            >Mantenimiento Pararayos</a
          >
        </li>
      </ul>
    </div>

    <div class="col">
      <h5>Contáctanos</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2">
          <a
            href="#"
            class="nav-link p-0 text-muted"
            [routerLink]="['contactos']"
            >Contacto</a
          >
          <a
            href="#"
            class="nav-link p-0 text-muted"
            [routerLink]="['contactos']"
            >0997283252</a
          >
        </li>
        <li class="nav-item mb-2">
          <a
            href="#"
            class="nav-link p-0 text-muted"
            [routerLink]="['contactos']"
            >Correo</a
          >
          <a
            href="#"
            class="nav-link p-0 text-muted"
            [routerLink]="['contactos']"
            >electricas.soluciones@hotmail.com</a
          >
        </li>
        <li class="nav-item mb-2">
          <a
            href="#"
            class="nav-link p-0 text-muted"
            [routerLink]="['preguntas']"
            >Preguntas</a
          >
        </li>
      </ul>
    </div>
  </footer>
</div>
