<div class="container">
  <footer class="row row-cols-5 py-5 my-5 border-top">
    <div class="col">
      <a
        href="/"
        class="d-flex align-items-center mb-3 link-dark text-decoration-none"
      >
        <svg class="bi me-2" width="40" height="32">
          <use xlink:href="#bootstrap" />
        </svg>
      </a>
      <p class="text-muted">&copy; 2022</p>
    </div>

    <div class="col"></div>

    <div class="col">
      <h5>Productos</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2">
          <a href="#" class="nav-link p-0 text-muted">Baterías</a>
        </li>
        <li class="nav-item mb-2">
          <a href="#" class="nav-link p-0 text-muted"
            >PDU/ATS de Nueva Generación</a
          >
        </li>
        <li class="nav-item mb-2">
          <a href="#" class="nav-link p-0 text-muted">Electeodos Activados</a>
        </li>
        <li class="nav-item mb-2">
          <a href="#" class="nav-link p-0 text-muted">Capturados</a>
        </li>
        <li class="nav-item mb-2">
          <a href="#" class="nav-link p-0 text-muted">Ahorradores de Energía</a>
        </li>
        <!--    <li class="nav-item mb-2">
          <a href="#" class="nav-link p-0 text-muted"
            >Acumuladores de Energía prolongada</a
          >
        </li>
        <li class="nav-item mb-2">
          <a href="#" class="nav-link p-0 text-muted"
            >Regualadores Industriales</a
          >
        </li> -->
      </ul>
    </div>

    <div class="col">
      <h5>Servicios</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2">
          <a href="#" class="nav-link p-0 text-muted">Mantenimiento de UPS</a>
        </li>
        <li class="nav-item mb-2">
          <a href="#" class="nav-link p-0 text-muted"
            >Diseño de centro de datos</a
          >
        </li>
        <li class="nav-item mb-2">
          <a href="#" class="nav-link p-0 text-muted"
            >Redes eléctricas reguladas</a
          >
        </li>
        <li class="nav-item mb-2">
          <a href="#" class="nav-link p-0 text-muted">OTRO FFF</a>
        </li>
        <li class="nav-item mb-2">
          <a href="#" class="nav-link p-0 text-muted">OTRO FFF</a>
        </li>
      </ul>
    </div>

    <div class="col">
      <h5>Contáctanos</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2">
          <a href="#" class="nav-link p-0 text-muted">Contacto</a>
          <a href="#" class="nav-link p-0 text-muted">0997283252</a>
        </li>
        <li class="nav-item mb-2">
          <a href="#" class="nav-link p-0 text-muted">Correo</a>
          <a href="#" class="nav-link p-0 text-muted"
            >electricas.soluciones@hotmail.com</a
          >
        </li>
        <li class="nav-item mb-2">
          <a href="#" class="nav-link p-0 text-muted">Pricing</a>
        </li>
        <li class="nav-item mb-2">
          <a href="#" class="nav-link p-0 text-muted">FAQs</a>
        </li>
        <li class="nav-item mb-2">
          <a href="#" class="nav-link p-0 text-muted">About</a>
        </li>
      </ul>
    </div>
  </footer>
</div>
