<app-sliderpaginas></app-sliderpaginas>
<div style="justify-content: center">
  <h1 class="h1">Preguntas Frecuentes</h1>
</div>

<div class="card w-75" id="texto">
  <p><strong>¿Qué es un UPS?</strong></p>
  <p>
    Es un equipo de regulación eléctrica que incorpora baterías, dándole un
    tiempo de respaldo cuando exista un apagón.
  </p>
  <p><strong>¿Para qué sirve un UPS?</strong></p>
  <p>
    Para dar respaldo, regular y proteger los equipos conectados, mejorando su
    rendimiento y alargando su vida útil ya que se alimentan de una energía
    limpia.
  </p>
  <p><strong>&nbsp;</strong><strong>¿Cómo funciona un UPS?</strong></p>
  <p>
    Corrige todos los problemas eléctricos que existen incluyendo el apagón, ya
    que incorpora baterías para dar tiempo de respaldo.
  </p>
  <p>
    <strong>&nbsp;</strong><strong>¿Cuál es la funcionalidad de un UPS?</strong>
  </p>
  <p>
    Corrige todos los problemas eléctricos que existen incluyendo el apagón, ya
    que incorpora baterías para dar tiempo de respaldo.
  </p>
  <p>
    <strong>&nbsp;</strong
    ><strong>¿Cuál es el funcionamiento de un UPS?</strong>
  </p>
  <p>
    Corrige todos los problemas eléctricos que existen incluyendo el apagón, ya
    que incorpora baterías para dar respaldo.
  </p>
  <p><strong>&nbsp;</strong><strong>¿Qué ventajas tiene un UPS?</strong></p>
  <p>
    Da respaldo, regula y protege los equipos conectados, mejorando su
    rendimiento y alargando su vida útil ya que se alimentan de una energía
    limpia.
  </p>
  <p>
    <strong>&nbsp;</strong><strong>¿Cuáles son las ventajas de un UPS?</strong>
  </p>
  <p>
    Da respaldo, regula y protege los equipos conectados, mejorando su
    rendimiento y alargando su vida útil ya que se alimentan de una energía
    limpia.
  </p>
  <p><strong>&nbsp;</strong><strong>¿De qué está hecho un UPS?</strong></p>
  <p>
    Es un equipo de doble conversión con un inversor y rectificador que
    convierte la energía, corrigiendo todos los problemas eléctricos existentes.
  </p>
  <p><strong>&nbsp;</strong><strong>¿Cuánto cuesta un UPS?</strong></p>
  <p>
    El precio varía de acuerdo a la capacidad y tecnología de los UPS. Ingrese
    al link para conocer los precios.
  </p>
  <p><strong>&nbsp;</strong><strong>¿Qué precio tiene un UPS?</strong></p>
  <p>
    El precio varía de acuerdo a la capacidad y tecnología de los UPS. Ingrese
    al link para conocer los precios.
  </p>
  <p><strong>&nbsp;</strong><strong>¿Cuál es el precio de un UPS?</strong></p>
  <p>
    El precio varía de acuerdo a la capacidad y tecnología de los UPS. Ingrese
    al link para conocer los precios.
  </p>
  <p><strong>&nbsp;</strong><strong>¿De dónde es el UPS?</strong></p>
  <p>
    Tenemos equipos americanos y europeos que cumplen normas de fabricación y
    certificaciones internacionales.
  </p>
  <p><strong>&nbsp;</strong><strong>¿De qué país es el UPS?</strong></p>
  <p>
    Tenemos equipos americanos y europeos que cumplen normas de fabricación y
    certificaciones internacionales.
  </p>
  <p><strong>&nbsp;</strong><strong>¿De qué marca es el UPS?</strong></p>
  <p>
    La marca de los UPS es Energycorp de procedencia americana con garantía
    extendida.
  </p>
  <p><strong>&nbsp;</strong><strong>¿Qué tipos de UPS ofrecen?</strong></p>
  <p>Los UPS son de tipo rack y torre</p>
  <p><strong>¿Qué tipos de UPS ONLINE tienen?</strong></p>
  <p>Los UPS ONLINE son de tipo rack y torre</p>
  <p><strong>&nbsp;</strong><strong>¿Cuántas fases requiere un UPS?</strong></p>
  <p>Monofásico, bifásico y trifásico</p>
  <p><strong>¿Cuánta fases tiene un UPS?</strong></p>
  <p>Monofásico, bifásico y trifásico</p>
  <p><strong>&nbsp;</strong><strong>¿De cuántas fases es un UPS?</strong></p>
  <p>Monofásico, bifásico y trifásico</p>
  <p><strong>¿Cuántas fases requiere un UPS?</strong></p>
  <p>Monofásico, bifásico y trifásico</p>
  <p><strong>¿Cuántas fases tiene un UPS?</strong></p>
  <p>Monofásico, bifásico y trifásico</p>
  <p><strong>&nbsp;</strong><strong>¿De cuántas fases es un UPS?</strong></p>
  <p>Monofásico, bifásico y trifásico</p>
  <p><strong>&nbsp;</strong><strong>¿Qué es UPS monofásico?</strong></p>
  <p>
    Es la fase con la que trabaja el equipo que su uso depende de las
    instalaciones eléctricas que tenga en cada lugar.
  </p>
  <p><strong>¿Qué es UPS bifásico?</strong></p>
  <p>
    Es la fase con la que trabaja el equipo que su uso depende de las
    instalaciones eléctricas que tenga en cada lugar.
  </p>
  <p><strong>&nbsp;</strong><strong>¿Qué es UPS trifásico?</strong></p>
  <p>
    Es la fase con la que trabaja el equipo que su uso depende de las
    instalaciones eléctricas que tenga en cada lugar.
  </p>
  <p>
    <strong>&nbsp;</strong
    ><strong>¿Qué especificaciones generales tiene un UPS?</strong>
  </p>
  <p>
    Son online con doble conversión de alta frecuencia con tecnología americana.
  </p>
  <p>
    <strong>&nbsp;</strong
    ><strong>¿Qué características técnicas tiene un UPS?</strong>
  </p>
  <p>Ingrese al link para el dimensionamiento del equipo.</p>
  <p><strong>&nbsp;</strong><strong>¿Existe algún descuento de UPS?</strong></p>
  <p>
    Los equipos no tienen descuentos. Sin embargo, somos mayoristas de UPS en
    Ecuador con los mejores precios en equipos de alta gama.
  </p>
  <p><strong>&nbsp;</strong><strong>¿Tienen descuentos en UPS?</strong></p>
  <p>
    Los equipos no tienen descuentos. Sin embargo, somos mayoristas de UPS en
    Ecuador con los mejores precios en equipos de alta gama.
  </p>
  <p><strong>&nbsp;</strong><strong>¿Existe promociones de UPS?</strong></p>
  <p>Por la compra de un UPS, se realiza mantenimiento gratis a otros UPS.</p>
  <p><strong>¿Hay promociones de UPS?</strong></p>
  <p>Por la compra de un UPS, se realiza mantenimiento gratis a otros UPS.</p>
  <p><strong>&nbsp;</strong><strong>¿Qué promociones tienen de UPS?</strong></p>
  <p>Por la compra de un UPS, se realiza mantenimiento gratis a otros UPS.</p>
  <p>
    <strong>&nbsp;</strong
    ><strong>¿Cuánto tiempo tiene de garantía un UPS?</strong>
  </p>
  <p>
    Los UPS tienen una garantía internacional de 2 años. Ekiprotek extiende la
    garantía medio año más, es decir, son 30 meses con servicio y respaldo
    garantizado.
  </p>
  <p><strong>&nbsp;</strong><strong>¿Qué garantía tiene un UPS?</strong></p>
  <p>
    Los UPS tienen una garantía internacional de 2 años. Ekiprotek extiende la
    garantía medio año más, es decir, son 30 meses con servicio y respaldo
    garantizado.
  </p>
  <p><strong>&nbsp;</strong><strong>¿Cuánta garantía tiene un UPS?</strong></p>
  <p>
    Los UPS tienen una garantía internacional de 2 años. Ekiprotek extiende la
    garantía medio año más, es decir, son 30 meses con servicio y respaldo
    garantizado.
  </p>
  <p><strong>&nbsp;</strong><strong>¿Cuántos años dura un UPS?</strong></p>
  <p>
    Nuestros equipos son ecológicos de alto rendimiento, tienen una vida útil
    mayor a los 14 años ya que cumplen normas de fabricación americana.
  </p>
  <p>
    <strong>&nbsp;</strong
    ><strong>¿Qué tiempo de duración tiene un UPS?</strong>
  </p>
  <p>
    Nuestros equipos son ecológicos de alto rendimiento, tienen una vida útil
    mayor a los 14 años ya que cumplen normas de fabricación americana.
  </p>
  <p>
    <strong>&nbsp;</strong
    ><strong>¿Cuál es el tiempo de respaldo de un UPS?</strong>
  </p>
  <p>
    Nuestros UPS tienen un tiempo de respaldo de 10 a 30 minutos. Además,&nbsp;
    son expandibles en potencia y tiempo,&nbsp; llegando a dar horas o días de
    respaldo de acuerdo a la necesidad del cliente.
  </p>
  <p>
    <strong>&nbsp;</strong
    ><strong>¿Cuánto tiempo de respaldo tiene un UPS?</strong>
  </p>
  <p>
    Nuestros UPS tienen un tiempo de respaldo de 10 a 30 minutos. Además,&nbsp;
    son expandibles en potencia y tiempo,&nbsp; llegando a dar horas o días de
    respaldo de acuerdo a la necesidad del cliente.
  </p>
  <p>
    <strong>&nbsp;</strong
    ><strong>¿Qué tiempo de respaldo tiene un UPS?</strong>
  </p>
  <p>
    Nuestros UPS tienen un tiempo de respaldo de 10 a 30 minutos. Además,&nbsp;
    son expandibles en potencia y tiempo,&nbsp; llegando a dar horas o días de
    respaldo de acuerdo a la necesidad del cliente.
  </p>
  <p>
    <strong>&nbsp;</strong
    ><strong
      >¿Se necesita de otro equipo para el funcionamiento de un UPS?</strong
    >
  </p>
  <p>
    No. Existen equipos complementarios&nbsp; de protección eléctrica para los
    UPS como son: reguladores industriales, capturadores de impacto eléctrico
    (TVSS), pararrayos, electrodos activos, ahorradores de energía.
  </p>
  <p>
    <strong>&nbsp;</strong
    ><strong>¿Qué cuidados se debe tener con el UPS?</strong>
  </p>
  <p>
    Se recomienda realizar los mantenimientos periódicos recomendados por
    fábrica. No se debe sobrecargar los equipos con cargas que no estén
    consideradas dentro de su capacidad.
  </p>
  <p><strong>¿Cómo se cuida un UPS?</strong></p>
  <p>
    Se recomienda realizar los mantenimientos periódicos recomendados por
    fábrica. No se debe sobrecargar los equipos con cargas que no estén
    consideradas dentro de su capacidad.
  </p>
  <p><strong>&nbsp;</strong><strong>¿Realizan mantenimiento de UPS?</strong></p>
  <p>
    Sí. La fábrica recomienda realizar mínimo 2 mantenimientos con apagado
    durante el año. Tenemos mantenimientos bajo llamada y bajo contrato de
    mantenimiento anual.
  </p>
  <p>
    <strong>&nbsp;</strong
    ><strong>¿Los UPS son libres de mantenimiento?</strong>
  </p>
  <p>
    No. La fábrica recomienda realizar mínimo 2 mantenimientos con apagado
    durante el año.
  </p>
  <p>
    <strong>&nbsp;</strong
    ><strong
      >¿Cada cuánto tiempo se debe realizar mantenimiento a un UPS?</strong
    >
  </p>
  <p>
    La fábrica recomienda realizar mínimo 2 mantenimientos con apagado durante
    el año.
  </p>
  <p>
    <strong>&nbsp;</strong
    ><strong>¿Cuándo se realiza mantenimiento de UPS?</strong>
  </p>
  <p>
    La fábrica recomienda realizar mínimo 2 mantenimientos con apagado durante
    el año.
  </p>
  <p><strong>¿Cómo se realiza el mantenimiento de UPS?</strong></p>
  <p>
    El mantenimiento se realiza con técnicos certificados por fábrica para la
    manipulación de los equipos.
  </p>
  <p>
    <strong>&nbsp;</strong
    ><strong>¿Un UPS necesita de mantenimiento constante?</strong>
  </p>
  <p>
    La fábrica recomienda realizar mínimo 2 mantenimientos con apagado durante
    el año.
  </p>
  <p>
    <strong>&nbsp;</strong
    ><strong>¿Cuánto tiempo se demora en la entrega de UPS?</strong>
  </p>
  <p>La entrega es inmediata</p>
  <p><strong>&nbsp;</strong><strong>¿Cómo se entrega el UPS?</strong></p>
  <p>Realizamos la entrega, instalación y puesta en marcha de los equipos.</p>
  <p><strong>¿Cómo se instala un UPS?</strong></p>
  <p>
    Depende de la capacidad del UPS. Ingrese al link para dimensionar su equipo
  </p>
  <p><strong>¿Ustedes realizan la instalación del UPS?</strong></p>
  <p>
    Sí. Realizamos la entrega, instalación y puesta en marcha de los equipos.
  </p>
  <p><strong>¿Cuánto cuesta instalar el UPS?</strong></p>
  <p>
    Si la instalación se realiza en Quito, NO tiene costo. Si la instalación se
    realiza fuera de Quito, existe un costo adicional por viáticos del asistente
    técnico.
  </p>
  <p><strong>¿Qué precio tiene instalar un UPS?</strong></p>
  <p>
    Si la instalación en Quito NO tiene costo. Si la instalación se realiza
    fuera de Quito existe un costo adicional por viáticos del asistente técnico.
  </p>
  <p>
    <strong>&nbsp;</strong
    ><strong>¿La instalación de UPS tiene un costo adicional?</strong>
  </p>
  <p>
    Si la instalación en Quito NO tiene costo. Si la instalación se realiza
    fuera de Quito existe un costo adicional por viáticos del asistente técnico.
  </p>
  <p>
    <strong>&nbsp;</strong
    ><strong>¿Cuesta algo más hacer la instalación?</strong>
  </p>
  <p>
    Si la instalación en Quito NO tiene costo. Si la instalación se realiza
    fuera de Quito existe un costo adicional por viáticos del asistente técnico.
  </p>
  <p>
    <strong>&nbsp;</strong
    ><strong>¿Cuánto tiempo dura la instalación de UPS?</strong>
  </p>
  <p>El tiempo de instalación varía de acuerdo a la capacidad de los UPS.</p>
  <p><strong>¿Qué equipos protege un UPS?</strong></p>
  <p>
    Los UPS protegen equipos denominados “cargas críticas” como equipos médicos,
    industriales, comerciales, de cómputo, servidores, etc.
  </p>
  <p><strong>¿Cuántos equipos protege un UPS?</strong></p>
  <p>
    La gama es amplia para todo tipo de carga. Ingrese al link para el
    dimensionamiento de su equipo
  </p>
  <p><strong>¿Cuántos UPS necesito para los equipos que tengo?</strong></p>
  <p>
    La gama es amplia para todo tipo de carga, ingrese al link para el
    dimensionamiento de su equipo
  </p>
</div>
