<app-sliderpaginas></app-sliderpaginas>

<div style="justify-content: center">
  <h1 class="h1">UPS Interactivos</h1>
</div>

<div class="row row-cols-1 row-cols-md-4 g-4">
  <div class="card h-100">
    <img src="assets/images/public/UPS INTERACTIVOS DE 500 VA A 2000VA/UPS POWEST MICRONET 1000-2000 VA.jpg"
      class="card-img-top" alt="20" />
  </div>
  <div class="card-body">
    <h5 class="card-title">500 - 2000 VA</h5>
    <p class="card-text">
      <li>Técnica automática en la regulación de tensión AVR.</li>
      <li>Amplio rango de tensión a la entrada.</li>
      <li>Avanzada tecnología MOSFET PWM.</li>
      <li>Cierre avanzado para la sobrecarga y batería baja.</li>
      <li>Control Digital Automático.</li>
      <li>Técnica automática de recarga.</li>
      <li>Indicadores de funcionamiento LED.</li>
      <li>Diseño confiable conectado con la red.</li>
      <li>Interfaz de USB de comunicación.</li>
      <li>Equipado con Boost AVR y Buck para estabilizar el voltaje de entrada.</li>
      <li>Permite el encendido de la unidad sin alimentación de CA.</li>
      <li>Reinicio automático después de una falla en la red.</li>
      <li>Tamaño compacto, peso ligero.</li>
      <li>Proporciona protección contra sobrecarga.</li>
    </p>
  </div>
</div>