<app-slider></app-slider>
<!-- Portfolio-->
<div id="portfolio">
  <div class="container-fluid p-0">
    <div class="row m-5">
      <div style="text-align: center">
        <h1>Nuestros Servicios y Productos</h1>
      </div>
      <div class="col-lg-3 col-sm-6" style="text-align: center">
        <a
          class="portfolio-box"
          [routerLink]="['../manteniups']"
          title="Ir al Servicio..."
        >
          <img
            class="img-fluid"
            src="assets/images/portfolio/mantenimiento.jpg"
            alt="mantenimiento-ups"
          />
          <div class="portfolio-box-caption">
            <div class="project-category text-white-50">
              Mantenimiento del sistema de alimentación ininterrumpida (SAI)
            </div>
            <div class="project-name">Todas las Marcas</div>
          </div>
        </a>
        <h2 class="h2">Mantenimiento UPS</h2>
      </div>
      <div class="col-lg-3 col-sm-6" style="text-align: center">
        <a
          class="portfolio-box"
          [routerLink]="['../upsonline']"
          title="Ir al Catálogo..."
        >
          <img
            class="img-fluid"
            src="assets/images/portfolio/ups.jpg"
            alt="ups"
          />
          <div class="portfolio-box-caption">
            <div class="project-category text-white-50">
              Equipos de Sistema de Alimentación Ininterrumpida
            </div>
            <div class="project-name">UPS</div>
          </div>
        </a>
        <h2 class="h2">Equipos UPS</h2>
      </div>
      <div class="col-lg-3 col-sm-6" style="text-align: center">
        <a
          class="portfolio-box"
          [routerLink]="['../reguladores']"
          title="Ir al Producto..."
        >
          <img
            class="img-fluid"
            src="assets/images/portfolio/regulador2.jpg"
            alt="regulador"
          />
          <div class="portfolio-box-caption">
            <div class="project-category text-white-50">
              Equipos para la rotección de las variaciones de voltaje
            </div>
            <div class="project-name">Reguladores</div>
          </div>
        </a>
        <h2 class="h2">Reguladores de Voltaje</h2>
      </div>
      <div class="col-lg-3 col-sm-6" style="text-align: center">
        <a
          class="portfolio-box"
          [routerLink]="['../acumuladores']"
          title="Ir al Producto..."
        >
          <img
            class="img-fluid"
            src="assets/images/portfolio/acumuladores.jpg"
            alt="acumuladores"
          />
          <div class="portfolio-box-caption">
            <div class="project-category text-white-50">
              Equipos robustos con gran capacidad de respaldo
            </div>
            <div class="project-name">Acumuladores</div>
          </div>
        </a>
        <h2 class="h2">Acumuladores</h2>
      </div>
      <div class="col-lg-3 col-sm-6" style="text-align: center">
        <a
          class="portfolio-box"
          [routerLink]="['../mantenidatos']"
          title="Ir al Servicio..."
        >
          <img
            class="img-fluid"
            src="assets/images/portfolio/cableado.jpg"
            alt="cableado"
          />
          <div class="portfolio-box-caption">
            <div class="project-category text-white-50">
              Sistema de conectores, cables, dispositivos y canalizaciones
            </div>
            <div class="project-name">Cableado Estucturado</div>
          </div>
        </a>
        <h2 class="h2">Diseño Centro de Datos</h2>
      </div>
      <div class="col-lg-3 col-sm-6" style="text-align: center">
        <a
          class="portfolio-box"
          [routerLink]="['../electrodos']"
          title="Ir al Producto..."
        >
          <img
            class="img-fluid"
            src="assets/images/portfolio/electrodos.jpg"
            alt="electrodos"
          />
          <div class="portfolio-box-caption">
            <div class="project-category text-white-50">
              DISPOSITIVOS DE COBRE
            </div>
            <div class="project-name">PUESTAS A TIERRA</div>
          </div>
        </a>
        <h2 class="h2">Electrodos Activos</h2>
      </div>
      <div class="col-lg-3 col-sm-6" style="text-align: center">
        <a
          class="portfolio-box"
          [routerLink]="['../baterias']"
          title="Ir al Producto..."
        >
          <img
            class="img-fluid"
            src="assets/images/portfolio/baterias.jpg"
            alt="baterias"
          />
          <div class="portfolio-box-caption">
            <div class="project-category text-white-50">
              Acumulador eléctrico
            </div>
            <div class="project-name">Baterías</div>
          </div>
        </a>
        <h2 class="h2">Baterías</h2>
      </div>
      <div class="col-lg-3 col-sm-6" style="text-align: center">
        <a
          class="portfolio-box"
          [routerLink]="['../tablero']"
          title="Ir al Producto..."
        >
          <img
            class="img-fluid"
            src="assets/images/portfolio/tablero.jpg"
            alt="tablero"
          />
          <div class="portfolio-box-caption p-3">
            <div class="project-category text-white-50">
              Desviación de un circuito eléctrico
            </div>
            <div class="project-name">Bypass eléctrico</div>
          </div>
        </a>
        <h2 class="h2">Tableros By Pass</h2>
      </div>
    </div>
  </div>
</div>

<!--Aparatdo Marcas UPS-->
<!--Apartado para las herramientas-->
<div style="text-align: center">
  <h1>Respaldo de las mejores Marcas</h1>
</div>
<div class="row m-5">
  <div class="col">
    <div class="container">
      <img
        src="../../../assets/images/home/APC1.jpg"
        class="rounded-circle"
        alt="Cinque Terre"
        width="150"
        height="150"
      />
      <p class="angular12"></p>
    </div>
  </div>

  <div class="col">
    <div class="container">
      <img
        src="../../../assets/images/home/Trip Lite.png"
        class="rounded-circle"
        alt="Cinque Terre"
        width="150"
        height="150"
      />
      <p style="align-content: center"></p>
    </div>
  </div>

  <div class="col">
    <div class="container">
      <img
        src="../../../assets/images/home/pcm.png"
        class="rounded-circle"
        alt="Cinque Terre"
        width="150"
        height="150"
      />
      <p style="align-content: center"></p>
    </div>
  </div>

  <div class="col">
    <div class="container">
      <img
        src="../../../assets/images/home/forza.png"
        alt="Cinque Terre"
        width="150"
        height="150"
      />
      <p style="align-content: center"></p>
    </div>
  </div>
  <div class="col">
    <div class="container">
      <img
        src="../../../assets/images/home/computer.png"
        alt="Cinque Terre"
        width="150"
        height="150"
      />
      <p style="align-content: center"></p>
    </div>
  </div>
  <div class="col">
    <div class="container">
      <img
        src="../../../assets/images/home/Eaton.png"
        width="150"
        height="100"
      />
      <p style="align-content: center"></p>
    </div>
  </div>
  <div class="col">
    <div class="container">
      <img
        src="../../../assets/images/home/emerson.png"
        width="150"
        height="100"
      />
      <p style="align-content: center"></p>
    </div>
  </div>
  <div class="col">
    <div class="container">
      <img
        src="../../../assets/images/home/powerware.png"
        width="150"
        height="100"
      />
      <p style="align-content: center"></p>
    </div>
  </div>
  <div class="col">
    <div class="container">
      <img
        src="../../../assets/images/home/servicio247.png"
        width="150"
        height="100"
      />
      <p style="align-content: center"></p>
    </div>
  </div>
</div>
