<app-slider></app-slider>
<!-- Portfolio-->
<div id="portfolio">
  <div class="container-fluid p-0">
    <div class="row m-5">
      <div class="col-lg-3 col-sm-6" style="text-align: center">
        <a
          class="portfolio-box"
          [routerLink]="['../manteniups']"
          title="Ir al Servicio..."
        >
          <img
            class="img-fluid"
            src="assets/images/portfolio/mantenimiento.jpg"
            alt="mantenimiento-ups"
          />
          <div class="portfolio-box-caption">
            <div class="project-category text-white-50">Mantenimiento UPS</div>
            <div class="project-name">Todas las Marcas</div>
          </div>
        </a>
      </div>
      <div class="col-lg-3 col-sm-6" style="text-align: center">
        <a
          class="portfolio-box"
          [routerLink]="['../upsonline']"
          title="Ir al Catálogo..."
        >
          <img
            class="img-fluid"
            src="assets/images/portfolio/ups.jpg"
            alt="ups"
          />
          <div class="portfolio-box-caption">
            <div class="project-category text-white-50">
              Equipos de Sistema de Alimentación Ininterrumpida
            </div>
            <div class="project-name">UPS</div>
          </div>
        </a>
      </div>
      <div class="col-lg-3 col-sm-6" style="text-align: center">
        <a
          class="portfolio-box"
          [routerLink]="['../reguladores']"
          title="Ir al Producto..."
        >
          <img
            class="img-fluid"
            src="assets/images/portfolio/regulador2.jpg"
            alt="regulador"
          />
          <div class="portfolio-box-caption">
            <div class="project-category text-white-50">Categoría</div>
            <div class="project-name">Reguladores de Voltaje</div>
          </div>
        </a>
      </div>
      <div class="col-lg-3 col-sm-6" style="text-align: center">
        <a
          class="portfolio-box"
          [routerLink]="['../acumuladores']"
          title="Ir al Producto..."
        >
          <img
            class="img-fluid"
            src="assets/images/portfolio/acumuladores.jpg"
            alt="acumuladores"
          />
          <div class="portfolio-box-caption">
            <div class="project-category text-white-50">Categoría</div>
            <div class="project-name">Acumuladores</div>
          </div>
        </a>
      </div>
      <div class="col-lg-3 col-sm-6" style="text-align: center">
        <a
          class="portfolio-box"
          [routerLink]="['../mantenidatos']"
          title="Ir al Servicio..."
        >
          <img
            class="img-fluid"
            src="assets/images/portfolio/cableado.jpg"
            alt="cableado"
          />
          <div class="portfolio-box-caption">
            <div class="project-category text-white-50">Categoría</div>
            <div class="project-name">Diseño Centro de Datos</div>
          </div>
        </a>
      </div>
      <div class="col-lg-3 col-sm-6" style="text-align: center">
        <a
          class="portfolio-box"
          [routerLink]="['../electrodos']"
          title="Ir al Producto..."
        >
          <img
            class="img-fluid"
            src="assets/images/portfolio/electrodos.jpg"
            alt="electrodos"
          />
          <div class="portfolio-box-caption">
            <div class="project-category text-white-50">Categoría</div>
            <div class="project-name">Electrodos Activos</div>
          </div>
        </a>
      </div>
      <div class="col-lg-3 col-sm-6" style="text-align: center">
        <a
          class="portfolio-box"
          [routerLink]="['../baterias']"
          title="Ir al Producto..."
        >
          <img
            class="img-fluid"
            src="assets/images/portfolio/baterias.jpg"
            alt="baterias"
          />
          <div class="portfolio-box-caption">
            <div class="project-category text-white-50">Categoría</div>
            <div class="project-name">Baterías</div>
          </div>
        </a>
      </div>
      <div class="col-lg-3 col-sm-6" style="text-align: center">
        <a
          class="portfolio-box"
          [routerLink]="['../tablero']"
          title="Ir al Producto..."
        >
          <img
            class="img-fluid"
            src="assets/images/portfolio/tablero.jpg"
            alt="tablero"
          />
          <div class="portfolio-box-caption p-3">
            <div class="project-category text-white-50">Categoría</div>
            <div class="project-name">Tableros By Pass</div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>

<!--Aparatdo Marcas UPS-->
<!--Apartado para las herramientas-->
<div style="text-align: center">
  <h1>Respaldo de las mejores Marcas</h1>
</div>
<div class="row m-5">
  <div class="col">
    <div class="container">
      <img
        src="../../../assets/images/home/APC1.jpg"
        class="rounded-circle"
        alt="Cinque Terre"
        width="150"
        height="150"
      />
      <p class="angular12"></p>
    </div>
  </div>

  <div class="col">
    <div class="container">
      <img
        src="../../../assets/images/home/Trip Lite.png"
        class="rounded-circle"
        alt="Cinque Terre"
        width="150"
        height="150"
      />
      <p style="align-content: center"></p>
    </div>
  </div>

  <div class="col">
    <div class="container">
      <img
        src="../../../assets/images/home/pcm.png"
        class="rounded-circle"
        alt="Cinque Terre"
        width="150"
        height="150"
      />
      <p style="align-content: center"></p>
    </div>
  </div>

  <div class="col">
    <div class="container">
      <img
        src="../../../assets/images/home/forza.png"
        class="rounded-circle"
        alt="Cinque Terre"
        width="150"
        height="150"
      />
      <p style="align-content: center"></p>
    </div>
  </div>
</div>
