<app-slider></app-slider>
<!-- Portfolio-->
<div id="portfolio">
  <div class="container-fluid p-0">
    <div class="row g-0">
      <div class="col-lg-3 col-sm-6">
        <a
          class="portfolio-box"
          [routerLink]="['../manteniups']"
          title="Catálogo de UPS..."
        >
          <img
            class="img-fluid"
            src="assets/images/portfolio/upss.jpg"
            alt="..."
          />
          <div class="portfolio-box-caption">
            <div class="project-category text-white-50">Mantenimiento UPS</div>
            <div class="project-name">UPS</div>
          </div>
        </a>
      </div>
      <div class="col-lg-3 col-sm-6">
        <a
          class="portfolio-box"
          [routerLink]="['../upsonline']"
          title="Catálogo de UPS..."
        >
          <img
            class="img-fluid"
            src="assets/images/portfolio/upss.jpg"
            alt="..."
          />
          <div class="portfolio-box-caption">
            <div class="project-category text-white-50">Categoría</div>
            <div class="project-name">UPS</div>
          </div>
        </a>
      </div>
      <div class="col-lg-3 col-sm-6">
        <a
          class="portfolio-box"
          [routerLink]="['../reguladores']"
          title="Producto Reguladores..."
        >
          <img
            class="img-fluid"
            src="assets/images/portfolio/regulador2.jpg"
            alt="..."
          />
          <div class="portfolio-box-caption">
            <div class="project-category text-white-50">Categoría</div>
            <div class="project-name">Reguladores</div>
          </div>
        </a>
      </div>
      <div class="col-lg-3 col-sm-6">
        <a
          class="portfolio-box"
          [routerLink]="['../acumuladores']"
          title="Producto Acumuladores..."
        >
          <img
            class="img-fluid"
            src="assets/images/portfolio/battery.png"
            alt="..."
          />
          <div class="portfolio-box-caption">
            <div class="project-category text-white-50">Categoría</div>
            <div class="project-name">Acumuladores</div>
          </div>
        </a>
      </div>
      <div class="col-lg-3 col-sm-6">
        <a
          class="portfolio-box"
          [routerLink]="['../mantenidatos']"
          title="Producto Acumuladores..."
        >
          <img
            class="img-fluid"
            src="assets/images/portfolio/battery.png"
            alt="..."
          />
          <div class="portfolio-box-caption">
            <div class="project-category text-white-50">Categoría</div>
            <div class="project-name">Diseño Centro de Datos</div>
          </div>
        </a>
      </div>
      <div class="col-lg-3 col-sm-6">
        <a
          class="portfolio-box"
          [routerLink]="['../electrodos']"
          title="Producto Puestas a Tierra"
        >
          <img
            class="img-fluid"
            src="assets/images/public/electrodos/electrodo1.jpg"
            alt="..."
          />
          <div class="portfolio-box-caption">
            <div class="project-category text-white-50">Categoría</div>
            <div class="project-name">Electrodos Activos</div>
          </div>
        </a>
      </div>
      <div class="col-lg-3 col-sm-6">
        <a
          class="portfolio-box"
          [routerLink]="['../baterias']"
          title="Catálogo Baterías..."
        >
          <img
            class="img-fluid"
            src="assets/images/portfolio/baterias.png"
            alt="..."
          />
          <div class="portfolio-box-caption">
            <div class="project-category text-white-50">Categoría</div>
            <div class="project-name">Baterías</div>
          </div>
        </a>
      </div>
      <div class="col-lg-3 col-sm-6">
        <a
          class="portfolio-box"
          [routerLink]="['../tablero']"
          title="Producto Tablero By Pass..."
        >
          <img
            class="img-fluid"
            src="assets/images/portfolio/tablero.jpg"
            alt="..."
          />
          <div class="portfolio-box-caption p-3">
            <div class="project-category text-white-50">Categoría</div>
            <div class="project-name">Tableros By Pass</div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>

<!--Aparatdo Marcas UPS-->
<!--Apartado para las herramientas-->
<div style="text-align: center">
  <h1>Respaldo de las mejores Marcas</h1>
</div>
<div class="row row-cols-1 row-cols-md-4 g-4">
  <div class="col">
    <div class="container">
      <img
        src="../../../assets/images/home/APC1.jpg"
        class="rounded-circle"
        alt="Cinque Terre"
        width="150"
        height="150"
      />
      <p class="angular12"></p>
    </div>
  </div>

  <div class="col">
    <div class="container">
      <img
        src="../../../assets/images/home/Trip Lite.png"
        class="rounded-circle"
        alt="Cinque Terre"
        width="150"
        height="150"
      />
      <p style="align-content: center"></p>
    </div>
  </div>
  <div class="col">
    <div class="container">
      <img
        src="../../../assets/images/home/pcm.png"
        class="rounded-circle"
        alt="Cinque Terre"
        width="150"
        height="150"
      />
      <p style="align-content: center"></p>
    </div>
  </div>
  <div class="col">
    <div class="container">
      <img
        src="../../../assets/images/home/forza.png"
        class="rounded-circle"
        alt="Cinque Terre"
        width="150"
        height="150"
      />
      <p style="align-content: center"></p>
    </div>
  </div>
</div>
