<app-sliderpaginas></app-sliderpaginas>

<div style="justify-content: center">
  <h1 style="text-align: center;">Tableros By Pass</h1>
</div>
<div class="row m-5">
  <h5 class="h5">Potencias desde 1 a 100 KVA</h5>
  <p class="card-text" align="justify">
    Un bypass eléctrico es una desviación de un circuito eléctrico que permite
    la comunicación directa entre dos puntos.
  </p>
  <p class="card-text" align="justify">
    Sistema mecánico que permite retirar el equipo UPS de la línea de
    alimentación, y así realizar una intervención al equipo sin ser necesario el
    apagado de las cargas que respalda el equipo UPS.
  </p>
  <div class="col-lg-3 mb-3" *ngFor="let tablero of tableros; let i = index">
    <img class="w-100 mb-4 rounded" src="{{ tablero.image }}" height="400" />
  </div>
</div>