<app-sliderpaginas></app-sliderpaginas>
<div style="justify-content: center">
    <h1 style="text-align: center">Mantenimiento Pararayos</h1>
</div>

<div class="row row-cols-1 row-cols-md-4 g-4">
    <div class="card-body">
        <div class="card-body">
            <img src="assets/images/public/mantenimientopararayos/WhatsApp Imag 37.jpg" class="card-img-top"
                alt="cableado1" />
        </div>
        <div class="card-body">
            <img src="assets/images/public/mantenimientopararayos/WhatsApp Imag 38.jpg" class="card-img-top"
                alt="cableado1" />
        </div>
        <div class="card-body">
            <img src="assets/images/public/mantenimientopararayos/WhatsApp Imag 39.jpg" class="card-img-top"
                alt="cableado1" />
        </div>
    </div>
    <div class="card-body">
        <div class="card-body">
            <img src="assets/images/public/mantenimientopararayos/WhatsApp Imag 40.jpg" class="card-img-top"
                alt="cableado1" />
        </div>
        <div class="card-body">
            <img src="assets/images/public/mantenimientopararayos/WhatsApp Imag 41.jpg" class="card-img-top"
                alt="cableado1" />
        </div>
        <div class="card-body">
            <img src="assets/images/public/mantenimientopararayos/WhatsApp Imag 42.jpg" class="card-img-top"
                alt="cableado1" />
        </div>
    </div>
    <div class="card-body">
        <div class="card-body">
            <img src="assets/images/public/mantenimientopararayos/WhatsApp Imag 43.jpg" class="card-img-top"
                alt="cableado1" />
        </div>
        <div class="card-body">
            <img src="assets/images/public/mantenimientopararayos/WhatsApp Imag 44.jpg" class="card-img-top"
                alt="cableado1" />
        </div>
        <div class="card-body">
            <img src="assets/images/public/mantenimientopararayos/WhatsApp Imag 45.jpg" class="card-img-top"
                alt="cableado1" />
        </div>
    </div>
</div>
<div class="card-body">
    <h5 class="card-title">Mantenimiento de pararrayos: ¿cómo y cuándo se realiza?</h5>
    <p class="card-text" align="justify">
        Los pararrayos deben someterse a inspecciones y mantenimientos periódicos, según indican las normativas
        nacionales e internacionales (UNE21186, NF-C 17 102, IEC EN 62305). Estas inspecciones periódicas del
        pararrayos permiten detectar desviaciones respecto a las normas de referencia o anomalías en la instalación
        provocadas por las condiciones medioambientales, como sería la corrosión, las manipulaciones incorrectas,
        como serían seccionamientos o robos, u otras circunstancias, como ampliaciones del edificio donde se ubica
        el pararrayos.
    </p>
    <p class="card-text" align="justify">
        La revisión de la instalación de pararrayos ha de formar parte de la rutina de mantenimiento de los
        edificios y del plan anual de actuaciones.</p>
    <p class="card-text" align="justify">
        ¿Por qué es necesario el mantenimiento de un pararrayos?
    </p>
    <p class="card-text" align="justify">
        Todos los sistemas de protección contra el rayo deben llevar un seguimiento y mantenimiento. Si no se
        realiza un correcto mantenimiento del pararrayos existe el riesgo de que el impacto del rayo no esté
        controlado ni su corriente conducida y dispersada de una manera segura.
    </p>
    <p class="card-text" align="justify">
        El paso del tiempo puede deteriorar los diversos elementos del sistema de protección contra el rayo,
        reduciendo la seguridad de la instalación si estos no están correctamente mantenidos.
    </p>
    <p class="card-text" align="justify">
        Para que un sistema de protección contra el rayo funcione de forma óptima, cada una de sus partes debe estar
        en correcto estado:
    </p>
    <p class="card-text" align="justify">
        Los pararrayos, o elementos captadores, deben funcionar correctamente. En el caso de los pararrayos con
        dispositivo de cebado (PDC), el elemento que produce el líder ascendente debe estar en buen estado para
        mantener el avance en el cebado que se ha medido en el laboratorio.
    </p>
    <p class="card-text" align="justify">
        Las bajantes deben mantener la continuidad en todo momento y estar bien fijadas para evitar chispas y
        roturas.
    </p>
    <p class="card-text" align="justify">
        La resistencia de la toma de tierra debe permanecer menor a 10 ohmios para que la corriente del rayo se
        disipe con rapidez, minimizando las corrientes de retorno y las tensiones de paso y contacto que pueden
        resultar muy peligrosas para las personas.
    </p>
</div>