<app-sliderpaginas></app-sliderpaginas>

<div style="justify-content: center">
  <h1 style="text-align: center;">Acumuladores</h1>
</div>
<div class="row m-5">
  <p class="card-text" align="justify">
    Es un equipo robusto con la capacidad de dar respaldo por horas o días
    dependiendo la necesidad del usuario. Sus partes electrónicas son diseñadas
    para cargar diferentes bancos de baterías ya que su cargador es de 60 amp de
    corriente continúa. Diseñados para trabajar en estaciones de radio, antenas
    de comunicación en equipos médicos o lugares donde los cortes de energía
    sobrepasen las horas o los días.
  </p>
  <div style="text-align: center;" class="col-lg-5 m-5" *ngFor="let acumulador of acumuladores; let i = index">
    <img src="{{ acumulador.image }}" class="card-img-top" />
  </div>
</div>