<app-sliderpaginas></app-sliderpaginas>
<div style="justify-content: center">
  <h1 style="text-align: center;">Electrodos Activos</h1>
</div>
<div class="row m-5">
  <div class="col-lg-4 mb-4">
    <img src="assets/images/public/electrodos/electrodo1.jpg" alt="Electrodo1" class="w-100 mb-4 rounded" />
  </div>
  <div class="col-lg-4 mb-4">
    <p class="card-text" align="justify">
      ES UN DISPOSITIVO DE COBRE QUE ESTÁ DISEÑADO PARA ATERRIZAR LOS
      SISTEMAS PUESTA A TIERRA, REEMPLAZAR A LA TRADICIONAL MALLA A TIERRA,
      CONSERVA LA RESISTENCIA PUESTA A TIERRA POR MAYOR TIEMPO E INCLUSO EN
      TEMPORADA DE VERANO.
    </p>
    <p class="card-text">
      CARACTERÍSTICAS DEL PRODUCTO:
      <li>LONGITUD: 1,00 METROS DE LARGO.</li>
      <li>DIÁMETRO: 1 1/2.</li>
      <li>SALIDA DEL CONDUCTOR: 0.70 MM DE COBRE.</li>
      <li>SALIDA DE CABLE DESNUDO: 2/0.</li>
      <li>TIPO VERTICAL.</li>
      <li>GARANTÍA VIDA ÚTIL 15 AÑOS.</li>
    </p>
  </div>
  <div class="col-lg-4 mb-4">
    <img src="assets/images/public/electrodos/electrodo2.jpeg" alt="Electrodo2" class="w-100 mb-4 rounded" />
  </div>
</div>