<app-sliderpaginas></app-sliderpaginas>
<div class="center">
  <div style="justify-content: center">
    <h1 class="h1">Electrodos Activos</h1>
  </div>

  <!-- <div class="row row-cols-1 row-cols-md-4 g-4">
    <div *ngFor="let electrodo of electrodos; let i = index">
      <div class="card h-100">
        <img src="{{ electrodo.image }}" class="card-img-top" alt="20" />
        <div class="card-body">
          <h5 class="card-title">{{ electrodo.title }}</h5>
        </div>
        <div class="d-grid gap-2">
          <button
            class="btn btn-primary"
            type="button"
            (click)="redireccionamientoe(electrodo.codigo)"
          >
            Leer mas
          </button>
        </div>
      </div>
    </div>
  </div>
</div> -->

<div class="row row-cols-1 row-cols-md-4 g-4">
    <div class="card h-100">
      <img src="assets/images/public/electrodos/electrodo1.jpg" alt="Electrodo1" class="card-img-top" />
    </div>
    <div class="card-body">
      <p class="card-text" align="justify">
        ES UN DISPOSITIVO DE COBRE QUE ESTÁ DISEÑADO PARA ATERRIZAR LOS SISTEMAS PUESTA A TIERRA, REEMPLAZAR A LA TRADICIONAL MALLA A TIERRA, CONSERVA LA RESISTENCIA PUESTA A TIERRA POR MAYOR TIEMPO E INCLUSO EN TEMPORADA DE VERANO.
      </p>
        <p class="card-text">
          CARACTERÍSTICAS DEL PRODUCTO:
          <li>LONGITUD: 1,00 METROS DE LARGO</li>
          <li>DIÁMETRO: 1 1/2</li>
          <li>SALIDA DEL CONDUCTOR: 0.70 MM DE COBRE</li>
          <li>SALIDA DE CABLE DESNUDO: 2/0</li>
          <li>TIPO VERTICAL</li>
          <li>GARANTÍA VIDA ÚTIL 15 AÑOS</li>
      </p>
    </div>
    <div class="card h-100">
      <img src="assets/images/public/electrodos/electrodo2.jpeg" alt="Electrodo2" class="card-img-top" />
    </div>
</div>
</div>