<app-sliderpaginas></app-sliderpaginas>

<div style="justify-content: center">
  <h1 class="h1">Mantenimentos UPS</h1>
</div>

<div class="row row-cols-1 row-cols-md-4 g-4">
  <div *ngFor="let mantenimiento of mantenimientosups; let i = index">
    <div class="card h-100">
      <img src="{{ mantenimiento.image }}" class="card-img-top" alt="20" />
      <div class="card-body">
        <h5 class="card-title">{{ mantenimiento.title }}</h5>
      </div>
    </div>
  </div>
</div>

<div class="card-body">
  <p class="card-text" align="justify">
    El mantenimiento de la UPS Sistema de alimentación ininterrumpida (ISAI) o en inglés uninterruptible power supply
    (UPS) debe programarse durante el horario no comercial para minimizar el impacto en la operación de los equipos
    respaldados.
  </p>
  <p class="card-text" align="justify">
    La UPS debe estar des energizada antes de realizar y limpiar la unidad. Una vez que el cable no está enchufado a la
    toma eléctrica, el técnico comienza a realizar el mantenimiento, la limpieza y la revisión de cada una de sus
    piezas.
    Esto garantiza la integridad de la máquina, el técnico profesional y el equipo al que se puede conectar a la UPS.
  </p>
  <p class="card-text">
    Revisión general del estado del equipo:
    <li>Limpieza general de equipos.</li>
    <li>Ajuste mecánico de componentes y partes del equipo.</li>
    <li>Ajuste de los terminales de conexión eléctrica.</li>
    <li>Revisión del proceso de control: Tarjeta drivers, tarjeta de cargador, tarjeta de Inversor, tarjeta de control y
      sensores.</li>
  </p>
  <p class="card-text">
    Revisión y verificación de los procesos de medición y señalización:
    <li>Tarjeta de medición y señalización.</li>
    <li>Pantalla LCD.</li>
    <li>Indicadores luminosos.</li>
    <li>Paneles Remotos.</li>
  </p>
  <p class="card-text">
    Revisión y comprobación de potencia:
    <li>Transformadores y amortiguadores.</li>
    <li>Módulos HEAD SLINK con dispositivos electrónicos.</li>
    <li>Relés.</li>
    <li>Filtros y condensadores.</li>
    <li>Ventiladores y refrigeradores.</li>
  </p>
  <p class="card-text">
    Revisión de los bancos de baterías:
    <li>Terminales de conexión.</li>
    <li>Voltaje.</li>
    <li>Corriente.</li>
    <li>Pruebas de descarga controlada.</li>
  </p>
  <p class="card-text">
    Inicio de la comprobación del equipo y ajuste de los parámetros de funcionamiento:
    <li>Voltaje de la fuente de alimentación.</li>
    <li>Voltaje de entrada y salida.</li>
    <li>Corriente de entrada y salida.</li>
    <li>Pruebas en vacío.</li>
    <li>Pruebas con carga.</li>
    <li>Pruebas para verificar bancos de baterías.</li>
    <li>Revisión, limpieza y prueba de transformadores de aislamiento.</li>
    <li>Limpieza general del entorno de la UPS.</li>
    <li>Sustitución de componentes de acuerdo a las recomendaciones técnicas del fabricante.</li>
    <li>Calibración del dispositivo de monitoreo</li>
    <li>Pruebas del UPS con el tablero de transferencia automática.</li>
    <li>Revisión, limpieza y prueba de los transformadores de aislamiento.</li>
    <li>Prueba del funcionamiento de la UPS con carga, con entrada automática de batería.</li>
  </p>
</div>