<app-sliderpaginas></app-sliderpaginas>

<div style="justify-content: center">
  <h1 class="h1">Reguladores de voltaje</h1>
</div>

<div class="row m-5">
  <div class="col-lg-4 mb-4">
    <div class="card h-100">
      <img
        src="assets/images/public/reguladores/REGULADOR POWEST 23.jpg"
        alt="Regulador1"
        class="card-img-top"
      />
    </div>
  </div>
  <div class="col-lg-4 mb-4">
    <div class="card-body">
      <p class="card-text" align="justify">
        Un regulador de voltaje es un equipo especializado en proteger su
        instalación eléctrica de las variaciones de voltaje, uno de los
        problemas eléctricos más comunes. Dichas variaciones no sólo guardan
        relación con el suministro de energía sino también con las prácticas de
        otros usuarios de la red. Por esta razón es un problema que puede llegar
        a parecer normal para cualquier usuario. No obstante, las consecuencias
        de no protegerse de ellas resultan costosas en el corto y largo plazo.
      </p>
      <p class="card-text" align="justify">
        ¿Por qué debo protegerme de las variaciones de voltaje?
      </p>
      <p class="card-text" align="justify">
        Existen tres razones principales relacionadas con los equipos
        eléctricos: (1) Daños en los componentes, (2) disminución de su vida
        útil y (3) afectación de su desempeño. Esto aplica tanto en dispositivos
        chicos, tales como un celular, así como en grandes aplicaciones
        industriales. Es decir, todo equipo alimentado por energía eléctrica.
      </p>
      <p class="card-text" align="justify">
        Así, es preciso mencionar que existe una solución comprobada: el
        regulador de voltaje. Fabricado bajo diferentes tecnologías y niveles de
        robustez, su función principal consiste en asegurar un suministro de
        voltaje limpio y estable para la sana operación de los equipos
        conectados. De esta manera, es posible proteger una aplicación
        específica o toda una instalación eléctrica, si así se requiere.
      </p>
    </div>
  </div>
  <div class="col-lg-4 mb-4">
    <div class="card h-100">
      <img
        src="assets/images/public/reguladores/REGULADORES 24.jpg"
        alt="Regulador2"
        class="card-img-top"
      />
    </div>
  </div>
</div>
