<app-sliderpaginas></app-sliderpaginas>

<div style="justify-content: center">
  <h1 class="h1">Baterias</h1>
</div>

<div class="row row-cols-1 row-cols-md-4 g-4">
  <div *ngFor="let bateria of baterias; let i = index">
    <div class="card h-100">
      <img src="{{ bateria.image }}" class="card-img-top" alt="20" />
      <div class="card-body">
        <h5 class="card-title">{{ bateria.title }}</h5>
      </div>
      <div class="d-grid gap-2">
        <button class="btn btn-primary" type="button">Leer mas</button>
      </div>
    </div>
  </div>
</div>
