<app-sliderpaginas></app-sliderpaginas>
<div style="justify-content: center">
  <h1 style="text-align: center;">Baterías</h1>
</div>
<div class="row m-5">
  <div class="col-lg-3 mb-3" *ngFor="let bateria of baterias; let i = index">
    <div class="card h-100">
      <img src="{{ bateria.image }}" class="card-img-top" alt="20" />
      <div class="card-body">
        <h5 class="card-title">{{ bateria.title }}</h5>
      </div>
      <div class="d-grid gap-2">
        <button
          class="btn btn-primary"
          type="button"
          (click)="redireccionamiento(bateria.codigo)"
        >
          Leer más
        </button>
      </div>
    </div>
  </div>
</div>
