<app-sliderpaginas></app-sliderpaginas>

<div style="justify-content: center">
  <h1 class="h1">Cableado Estucturado o Diseño de Centro de Datos</h1>
</div>

<div class="row m-5">
  <div class="col-lg-4 mb-4">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <img
            src="assets/images/public/cableados/Imag 1.jpg"
            class="card-img-top"
            alt="cableado1"
          />
        </div>
        <div class="card-body">
          <img
            src="assets/images/public/cableados/Imag 2.jpeg"
            class="card-img-top"
            alt="cableado2"
          />
        </div>
        <div class="card-body">
          <img
            src="assets/images/public/centrodatos/WhatsApp Imag 35.jpeg"
            class="card-img-top"
            alt="cableado2"
          />
        </div>
        <div class="card-body">
          <img
            src="assets/images/public/centrodatos/WhatsApp Imag 36.jpeg"
            class="card-img-top"
            alt="cableado2"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 mb-4">
    <div class="col">
      <div class="card">
        <p class="card-text" align="justify">
          Cuando hablamos del cableado estructurado nos referimos a un sistema
          de conectores, cables, dispositivos y canalizaciones que forman la
          infraestructura que implanta una red de área local en un edificio o
          recinto, y su función es transportar señales desde distintos emisores
          hasta los receptores correspondientes.
        </p>
        <p class="card-text" align="justify">
          Su estructura contiene una combinación de cables de par trenzado
          protegidos o no protegidos (STP y UTP por sus siglas en inglés,
          respectivamente), y en algunas ocasiones de fibras ópticas y cables
          coaxiales. Sus elementos principales son el cableado horizontal, el
          cableado vertical y el cuarto de telecomunicaciones. Conozcamos más
          sobre estos.
        </p>
        <p class="card-text" align="justify">Cableado horizontal</p>
        <p class="card-text" align="justify">
          Este es el encargado de llevar la información desde el distribuidor de
          piso hasta los usuarios. La norma EIA/TIA 568A lo define como “la
          porción del sistema de cableado de telecomunicaciones que se extiende
          del área de trabajo al cuarto de telecomunicaciones”.
        </p>
        <p class="card-text" align="justify">
          El cableado horizontal posee un núcleo sólido normalmente hecho de
          cobre, por lo tanto, se deberá evitar que este se tuerza y deberá
          estar ubicados detrás de muros para no tener contacto con él.
        </p>
        <p class="card-text">
          El cableado horizontal incluye:
          <li>Cables horizontales.</li>
          <li>Tomas/conectores de telecomunicaciones en el área de trabajo.</li>
          <li>Terminación mecánica.</li>
          <li>
            Interconexiones horizontales localizadas en el cuarto de
            telecomunicaciones.
          </li>
        </p>
        <p class="card-text">Cableado vertical</p>
        <p class="card-text" align="justify">
          El cableado vertical, también conocido como backbone o cableado
          troncal, es el encargado de crear interconexiones entre los cuartos de
          equipo, cuartos de entrada de servicios y cuartos de
          telecomunicaciones.
        </p>
        <p class="card-text" align="justify">
          Este está conformado por cables verticales, conexiones cruzadas
          principales e intermedias, terminaciones mecánicas y cordones de
          parcheo para conexiones cruzadas.
        </p>
        <p class="card-text">Cuarto de telecomunicaciones</p>
        <p class="card-text" align="justify">
          Consiste en el área física destinada exclusivamente para el
          alojamiento de los elementos que conforman el sistema de
          telecomunicaciones. En este cuarto se encuentran conmutadores y todos
          los elementos centralizados que corren a través de tramos horizontales
          hasta el área de trabajo.
        </p>
        <p class="card-text">
          Entre las características más representativas del cuarto de
          telecomunicaciones se destacan:
          <li>Una altura mínima recomendada es de 2.6 metros.</li>
          <li>
            Si posee equipos activos, su temperatura ambiente debe encontrarse
            entre 18 y 24 °C y la humedad entre 30% y 50%. De lo contrario, la
            temperatura debe estar entre 10 y 35 °C y la humedad inferior a 85%.
          </li>
          <li>
            Debe contener un mínimo de dos tomas corrientes AC de 110 V y 15 A
            con circuitos independientes.
          </li>
          <li>
            Debe encontrarse en un lugar sin riesgo de inundación o en contacto
            con agua. En caso de haber riesgo de ingreso de agua, se debe
            proporcionar drenaje de piso.
          </li>
          <li>
            No puede compartir espacio con instalaciones eléctricas que no estén
            relacionadas con las telecomunicaciones.
          </li>
        </p>
        <p class="card-text" align="justify">
          El cableado estructurado y sus elementos hacen parte del gran mundo de
          la tecnología de la información que en Next U estamos preparados para
          enseñarte. Conviértete en un experto y aprende a administrar y
          gestionar las redes y datos de tus clientes a través del soporte y
          mantenimiento de equipos informáticos.
        </p>
      </div>
    </div>
  </div>
  <div class="col-lg-4 mb-4">
    <div class="col">
      <div class="card">
        <img
          src="assets/images/public/centrodatos/WhatsApp Imag 32.jpeg"
          class="card-img-top"
          alt="cableado2"
        />
      </div>
      <div class="card-body">
        <img
          src="assets/images/public/centrodatos/WhatsApp Imag 33.jpeg"
          class="card-img-top"
          alt="cableado2"
        />
      </div>
      <div class="card-body">
        <img
          src="assets/images/public/centrodatos/WhatsApp Imag 34.jpeg"
          class="card-img-top"
          alt="cableado2"
        />
      </div>
    </div>
  </div>
</div>
