<app-sliderpaginas></app-sliderpaginas>

<div>
  <h1 style="text-align: center;">Batería</h1>
</div>
<div class="row m-5">
  <div class="row g-0">
    <div class="col-md-4">
      <img [src]="bateria.image" class="img-fluid rounded-start" alt="bateria" />
    </div>
    <div class="col-md-8">
        <h5 class="card-title">{{ bateria.title }}</h5>
        <p class="card-text" align="justify">
          La batería está diseñada con tecnología AGM (Absorbente Glass Mat) y VRLA (batería de ácido-plomo regulada por válvula) y es usada para aplicaciones generales como UPS, telecomunicaciones, usos eléctricos generales, etc. La vida útil de las baterías de capacidad inferior a 33 Ah es de 5 años; y la de las baterías de capacidad de más de 33 Ah es de 10 años. Esta serie de batería cumple con las normas internacionales como IEC896-2, BS6290-4 y la norma de la EPBA (European Portable Battery Association – Asociación Europea de productores de pilas y baterías).
        </p>
      <p class="card-text">
        Aplicaciones:
          <li>Sistema de alarma y seguridad.</li>
          <li>Sistema de televisión por cable.</li>
          <li>Herramientas y equipos eléctricos.</li>
          <li>Iluminación de emergencia.</li>
          <li>Equipos médicos.</li>
          <li>Sistema de UPS.</li>
          <li>Equipos de comunicación.</li>
          <li>Juguetes.</li>
      </p>
    </div>
  </div>
</div>